<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHKO31hP35na2tznToZc2QO6F8E-pHyZw</string>
	<key>GCM_SENDER_ID</key>
	<string>584876190947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.r5Test</string>
	<key>PROJECT_ID</key>
	<string>r5-test-5f7d7</string>
	<key>STORAGE_BUCKET</key>
	<string>r5-test-5f7d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584876190947:ios:77a947808a6066a25ce9d6</string>
</dict>
</plist>